### Part 1

Get Data using API

In [26]:
import requests
import json
import pandas as pd
import seaborn as sns

In [10]:
#Swagger API https://www.albion-online-data.com/api/swagger/index.html
url = 'https://www.albion-online-data.com/api/v2/stats/prices/T4_BAG,T5_BAG'

response = requests.get(url)
json_data = json.loads(response.text)
with open('data.txt', 'w') as outfile:
    json.dump(json_data, outfile)

In [12]:
with open("/content/data.txt") as f:
  d = json.load(f)
  df = pd.DataFrame.from_dict(d)
  print(df)

    item_id             city  quality  sell_price_min  sell_price_min_date  \
0    T4_BAG     Arthurs Rest        1            4985  2022-09-16T11:40:00
1    T4_BAG     Arthurs Rest        2            4986  2022-09-16T17:55:00
2    T4_BAG     Arthurs Rest        3            4986  2022-09-16T17:55:00
3    T4_BAG     Black Market        1            2980  2022-09-17T01:35:00
4    T4_BAG     Black Market        2            2981  2022-09-17T01:35:00
..      ...              ...      ...             ...                  ...
105  T5_BAG         Thetford        4               0  0001-01-01T00:00:00
106  T5_BAG         Thetford        5               0  0001-01-01T00:00:00
107  T5_BAG  Thetford Portal        1           11945  2022-09-17T08:25:00
108  T5_BAG  Thetford Portal        2           11946  2022-09-17T08:25:00
109  T5_BAG  Thetford Portal        3           11959  2022-09-17T08:25:00

     sell_price_max  sell_price_max_date  buy_price_min   buy_price_min_date  \
0              4985  2022-09-16T11:40:00              0  0001-01-01T00:00:00
1              5500  2022-09-16T17:55:00              0  0001-01-01T00:00:00
2              5525  2022-09-16T17:55:00              0  0001-01-01T00:00:00
3              3007  2022-09-17T01:35:00           1692  2022-09-17T01:35:00
4              3007  2022-09-17T01:35:00           1692  2022-09-17T01:15:00
..              ...                  ...            ...                  ...
105               0  0001-01-01T00:00:00              0  0001-01-01T00:00:00
106               0  0001-01-01T00:00:00              0  0001-01-01T00:00:00
107           11947  2022-09-17T08:25:00              0  0001-01-01T00:00:00
108           11980  2022-09-17T08:25:00              0  0001-01-01T00:00:00
109           11980  2022-09-17T08:25:00              0  0001-01-01T00:00:00

     buy_price_max   buy_price_max_date
0                0  0001-01-01T00:00:00
1                0  0001-01-01T00:00:00
2                0  0001-01-01T00:00:00
3             2820  2022-09-17T01:35:00
4             1880  2022-09-17T01:15:00
..             ...                  ...
105              0  0001-01-01T00:00:00
106              0  0001-01-01T00:00:00
107              0  0001-01-01T00:00:00
108              0  0001-01-01T00:00:00
109              0  0001-01-01T00:00:00

[110 rows x 11 columns]

In [22]:
df_filter = df ['city']. isin (['Black Market', 'Martlock Portal']) 
filtered_df = df [df_filter]
filtered_df

,item_id,city,quality,sell_price_min,sell_price_min_date,sell_price_max,sell_price_max_date,buy_price_min,buy_price_min_date,buy_price_max,buy_price_max_date
3,T4_BAG,Black Market,1,2980,2022-09-17T01:35:00,3007,2022-09-17T01:35:00,1692,2022-09-17T01:35:00,2820,2022-09-17T01:35:00
4,T4_BAG,Black Market,2,2981,2022-09-17T01:35:00,3007,2022-09-17T01:35:00,1692,2022-09-17T01:15:00,1880,2022-09-17T01:15:00
5,T4_BAG,Black Market,3,3010,2022-09-17T05:00:00,3070,2022-09-17T05:00:00,1504,2022-09-17T05:00:00,3008,2022-09-17T05:00:00
6,T4_BAG,Black Market,4,3111,2022-09-16T22:15:00,3318,2022-09-16T22:15:00,2444,2022-09-17T01:15:00,3008,2022-09-17T01:15:00
7,T4_BAG,Black Market,5,3237,2022-09-16T22:15:00,3239,2022-09-16T22:15:00,2256,2022-09-17T01:15:00,2256,2022-09-17T01:15:00
42,T4_BAG,Martlock Portal,1,2350,2022-09-17T02:45:00,2350,2022-09-17T02:45:00,1,2022-09-17T07:10:00,1645,2022-09-17T07:10:00
43,T4_BAG,Martlock Portal,2,2370,2022-09-17T04:40:00,2370,2022-09-17T04:40:00,1602,2022-09-17T07:10:00,1645,2022-09-17T07:10:00
44,T4_BAG,Martlock Portal,3,2696,2022-09-17T07:10:00,2982,2022-09-17T07:10:00,1,2022-09-17T07:10:00,2450,2022-09-17T07:10:00
57,T5_BAG,Black Market,1,12998,2022-09-17T01:35:00,13699,2022-09-17T01:35:00,12408,2022-09-17T01:35:00,12784,2022-09-17T01:35:00
58,T5_BAG,Black Market,2,13594,2022-09-17T01:35:00,13700,2022-09-17T01:35:00,3384,2022-09-17T01:15:00,13160,2022-09-17T01:15:00
59,T5_BAG,Black Market,3,13599,2022-09-17T01:35:00,13699,2022-09-17T01:35:00,8272,2022-09-17T01:15:00,8272,2022-09-17T01:15:00
60,T5_BAG,Black Market,4,13899,2022-09-16T20:45:00,14776,2022-09-16T20:45:00,376,2022-09-17T01:15:00,13536,2022-09-17T01:15:00
61,T5_BAG,Black Market,5,0,0001-01-01T00:00:00,0,0001-01-01T00:00:00,6392,2022-09-17T01:15:00,6392,2022-09-17T01:15:00
98,T5_BAG,Martlock Portal,1,12000,2022-09-17T04:00:00,12000,2022-09-17T04:00:00,10269,2022-09-17T01:50:00,10272,2022-09-17T01:50:00
99,T5_BAG,Martlock Portal,2,11899,2022-09-17T04:00:00,11899,2022-09-17T04:00:00,0,0001-01-01T00:00:00,0,0001-01-01T00:00:00
100,T5_BAG,Martlock Portal,3,11900,2022-09-17T04:00:00,11900,2022-09-17T04:00:00,0,0001-01-01T00:00:00,0,0001-01-01T00:00:00

In [34]:
pd.set_option('max_rows', 50)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [37]:
numeric_columns = ['sell_price_max', 'sell_price_min', 'quality']

In [40]:
(filtered_df.sort_values(by=['item_id'])
 .head(50)
 .style
 .format('{:.1f}', na_rep='-')
 .format({'species': lambda x:x.lower(),
          'island': lambda x:x.lower(),
          'sex': lambda x: '-' if pd.isna(x) else x.lower()
         })
 .highlight_null(null_color='lightgrey')
 .highlight_max(color='yellowgreen', subset=numeric_columns)
 .highlight_min(color='coral', subset=numeric_columns)
)

## Part 2

Parsing with no API

In [10]:
import pandas as pd

In [11]:
#https://auto.ru/cars/ford/all/
import requests
def fetch(url, params): # params = {method, headers, body}
    headers = params["headers"]
    body = params["body"]
    method = params["method"]

    if method == "POST":
        return requests.post(url, headers=headers, data=body)
    
    if method == "GET":
        return requests.get(url, headers=headers)

In [12]:
ford = fetch("https://auto.ru/-/ajax/desktop/listing/", {
  "headers": {
    "accept": "*/*",
    "accept-language": "en,ru;q=0.9",
    "cache-control": "no-cache",
    "content-type": "application/json",
    "pragma": "no-cache",
    "sec-ch-ua": "\".Not/A)Brand\";v=\"99\", \"Google Chrome\";v=\"103\", \"Chromium\";v=\"103\"",
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": "\"Windows\"",
    "sec-fetch-dest": "empty",
    "sec-fetch-mode": "same-origin",
    "sec-fetch-site": "same-origin",
    "x-client-app-version": "87.0.9727341",
    "x-client-date": "1657909708631",
    "x-csrf-token": "9fbf73a9e0920f1257c10d02b30351ca8674e7f6ee98ff56",
    "x-page-request-id": "677734079aba2781134c11ddac8469aa",
    "x-requested-with": "XMLHttpRequest",
    "x-retpath-y": "https://auto.ru/sankt-peterburg/cars/ford/focus/all/?year_from=2020",
    "x-yafp": "{\"a1\":\"BWTAeg==;0\",\"a2\":\"z7yj+GuiWLgPU451MVVY1a60HdNsQA==;1\",\"a3\":\"kgtBhouNTvIJ+ryjlnxYSw==;2\",\"a4\":\"ggEQMrqrplyyIA==;3\",\"a5\":\"gUaYVrG+LXwA6A==;4\",\"a6\":\"HMI=;5\",\"a7\":\"/NJtCtXB9kcXyg==;6\",\"a8\":\"GLwrF06i+98=;7\",\"a9\":\"VrI9cpuj39oJCg==;8\",\"b1\":\"gs870S3ivaA=;9\",\"b2\":\"8NPEjuDkV5N1Lw==;10\",\"b3\":\"YykhNhKbyOpCGg==;11\",\"b4\":\"XnlcHVbMTQ8=;12\",\"b5\":\"0Hmw+HEQ7ZCaAg==;13\",\"b6\":\"cbHpWSBFNgX5Ug==;14\",\"b7\":\"bsg68KCr+XLtrA==;15\",\"b8\":\"9JNX5ZC2KGs7MA==;16\",\"b9\":\"uCOFIzdezoHhjw==;17\",\"c1\":\"Q6QFTQ==;18\",\"c2\":\"KsF0fD3URndnk3lzE5jKfg==;19\",\"c3\":\"9tzBfhsgXRyySRIZ8YqWfQ==;20\",\"c4\":\"v39RYnBHJOs=;21\",\"c5\":\"aG1dAg+EJww=;22\",\"c6\":\"41QZqA==;23\",\"c7\":\"4smjSu0AlgU=;24\",\"c8\":\"kIQ=;25\",\"c9\":\"BICXooyDljg=;26\",\"d1\":\"KFi6n51Pqzg=;27\",\"d2\":\"xf4=;28\",\"d3\":\"S9Bjpc/iWJ4TUQ==;29\",\"d4\":\"jUKQkDiyeGs=;30\",\"d5\":\"gX3kHdVUyJc=;31\",\"d7\":\"UyE=;32\",\"d8\":\"p4KeXJ9X1jgy3eLxra0md/KbzVYPEqiCkTU=;33\",\"d9\":\"lmIz4Ypq7Pk=;34\",\"e1\":\"R7IN9KgyVYKFXw==;35\",\"e2\":\"FUAhTqf4jq4=;36\",\"e3\":\"w3ifOql6vrs=;37\",\"e4\":\"umzODUs/Y5c=;38\",\"e5\":\"i/NmzL9vS8NdBg==;39\",\"e6\":\"rByl9hS+kP0=;40\",\"e7\":\"XO5wKWhGRwvaeA==;41\",\"e8\":\"fpkDQaFPeWU=;42\",\"e9\":\"j45DJyslbvo=;43\",\"f1\":\"pawG+i2f2JVmzg==;44\",\"f2\":\"4RY/HGzUkqI=;45\",\"f3\":\"IbhTrTWnSiliGg==;46\",\"f4\":\"xY1U0V7EYjI=;47\",\"f5\":\"dEW/Vooer9CRdg==;48\",\"f6\":\"BIacpe0WeF/SUw==;49\",\"f7\":\"l3zb2u2hIbL+SQ==;50\",\"f8\":\"J9OhFFqYltZ6sQ==;51\",\"f9\":\"O1w0VyrOz8E=;52\",\"g1\":\"Ta11NwHFePzp/A==;53\",\"g2\":\"XnIO2mhbfBUZFw==;54\",\"g3\":\"pVSjfnF64e0=;55\",\"g4\":\"RcGrMapUye43vQ==;56\",\"g5\":\"yO9SWmYu0q0=;57\",\"g6\":\"KJsf/lzrkFY=;58\",\"g7\":\"ndCz94Cp1z8=;59\",\"g8\":\"ms/xWEwn8CM=;60\",\"g9\":\"Se7jhWp9Ygo=;61\",\"h1\":\"k0pC0D1TENtfkA==;62\",\"h2\":\"dv2y3PgnENaRag==;63\",\"h3\":\"ZQlxs5lA3UHyGw==;64\",\"h4\":\"fFtwqlMxJGAe6w==;65\",\"h5\":\"gUoifbzPV88=;66\",\"h6\":\"2isolFJW0bA13w==;67\",\"h7\":\"4RB3ZXPZgiDWO7PkeBr122aXeKowLarN57isLU+AZ9zkX+pQ;68\",\"h8\":\"lnZGmsN4Xj1N9w==;69\",\"h9\":\"eznnGNUuhT60bw==;70\",\"i1\":\"v5zihEkb5fc=;71\",\"i2\":\"RXVRbDMvMyLtHA==;72\",\"i3\":\"6xqXbxWdoCb+TQ==;73\",\"i4\":\"LiaosEuFWi98PQ==;74\",\"i5\":\"ClG54HlfK7muVw==;75\",\"z1\":\"OLFSx8A9dsNVzb3Yy395KzbTNJt2uOWPi/LFe8xdTNb9bErveGZ4DhjSerjhiHiCL8WN2w0OaKg7ZV9NYobwkg==;76\",\"z2\":\"3lFj8W4RLYFyOrd5HbNECPpSKimcwEDqELDKHbpgYMt3b60Glo3MuQQNdBvY8iDIh+g4Ky7PHNGHaZjnPW8VKg==;77\",\"y2\":\"AZfc5WpijPk6fg==;78\",\"y3\":\"Ih1NPq+OJh3qBA==;79\",\"y6\":\"1t97VPlrQnyyNQ==;80\",\"y8\":\"xGS66293FyCsrQ==;81\",\"x4\":\"dAKVGttZbG6Qog==;82\",\"z5\":\"kOyyhOzrdOQ=;83\",\"z4\":\"DkjGC91Onzhm5A==;84\",\"z6\":\"QoAYc7tZ0YtNZcbC;85\",\"z7\":\"4MA+6uJTvVGmJ+vH;86\",\"z8\":\"aRQQxZW5XPjkm9Z3H58=;87\",\"z9\":\"CIqMqtquEU0p5276;88\",\"y1\":\"eU9qrx4HSNCoJtW/;89\",\"y4\":\"nnYpgpc1VPr5M+Yv;90\",\"y5\":\"yzQeYnmp7Tj56z+VsUI=;91\",\"y7\":\"nSui6NpZ9fGQD2At;92\",\"y9\":\"kYez6uZhM98vO2zPX68=;93\",\"y10\":\"dfxV7LC0giTxP8ERfKk=;94\",\"x1\":\"Xrx41mP3shzIIHGp;95\",\"x2\":\"6BTHPH7+UuK0Fk6kNCY=;96\",\"x3\":\"6nmVVNqwgQANPudw;97\",\"x5\":\"ObaOnVh9v41wx/zN;98\",\"z3\":\"7zAbuMT2Zl8c6scxgLytHksreAIfCx6nmVeFZq0p+KA=;99\",\"v\":\"6.3.1\",\"pgrdt\":\"gJBqcXB6czpSLWaT8sJyRbKSc6Q=;100\",\"pgrd\":\"uZOXsy4pL/KFNQK8c0ESreU1eZPbDVHOJOWaOIZofh4jDxXF4wSYWjOuWbZ0jjLK5P/luC9QzgrvNrvQVvf76b5BApJDXKMivpmfxBehY5cglVsRk8KVcMIATEc6YM9QQvuu4Gi0VDnhr9/IMf5wDyMzdywCKu3h4xAEqbpL+tn0+EGqEVtpwK4hDoz0EPqDaOXbZtfpXW9aOqTGn2HUrTbz/FY=\"}",
    "cookie": "_csrf_token=9fbf73a9e0920f1257c10d02b30351ca8674e7f6ee98ff56; autoru_gdpr=1; suid=85f19f0b88f068335ba14eba3f5e3435.14c9674db7da17f1988676e377b9dc01; from=direct; yandex_login=mike.ovc; i=+ig900XxUD2KPyhZzxvB/AFtdEDBcDv6Kf44NuFBzlrHrCuBC/BTn3fXGOOzP49fQFvqkB4u6RmiiWR85nul08TIOtU=; gdpr=0; _ym_uid=1645564389770852331; Session_id=3:1651602110.5.0.1610028951543:Y0DWUY4Md_wArzqJAEsBKg:32.1.2:1|348690723.-1.2.0:3.1:63090147|61:4179.734334.JzGSZR4l7-5nnNkhXjOkFWnxYqw; mda2_beacon=1651602110184; _ym_isad=1; _ym_visorc=b; spravka=dD0xNjU3OTA5MzQ4O2k9MmEwMTo0YjAwOmE4NWY6ODgwMDpkNGYxOjYyMGI6Zjg4ZTpjMjMwO0Q9QjI0RDQ5MjIwMzMxMkExOTkyRjAwQkYxQkM5OThGNjZFQTVDRDU5Q0Y5RDFBMzZERDI4M0M4ODhBQUQ5RDJEOEI2MTk2NkQ2O3U9MTY1NzkwOTM0ODE4NjEzMjYzMztoPTUzNWY1NzI3ODlmNjRkODFiM2Y1MTJhMGRhYjdmNjc2; autoru_sid=a%3Ag62d1b0642oij9uajfsqurf1all33va3.eb258a4ad54bdcb7d157dd9e5cdfab1e%7C1657909348310.604800.LOsoXEObCG6BKMMum7_ugQ.-oO98SH-ImySD_l1Mu4AcXnz0lDGQ_HD90UZsqrlhTY; autoruuid=g62d1b0642oij9uajfsqurf1all33va3.eb258a4ad54bdcb7d157dd9e5cdfab1e; yuidlt=1; yandexuid=6280271851523913546; my=YwA%3D; ys=udn.cDrQnNC40YXQsNC40Lsg0J7QstGH0LjQvdC90LjQutC%2B0LI%3D%23wprid.1657203178471267-16304609657449765454-sas3-0712-43f-sas-l7-balancer-8080-BAL-5426%23c_chck.111146787; crookie=67GvBm5Ta3+xP+OTII84t7iy5lZ6IkubzZjJXxaGgcXCWwmWncXb2v/ORkCGMBhWVm0OMj2Az3W+KeuFcIBr+YZRCYM=; cmtchd=MTY1NzkwOTM1MDAzNw==; _yasc=HUNstrd4V5cnLFetxc2epO3RSAN3qHD5+KXjH/MAF4HZ3epz; sso_status=sso.passport.yandex.ru:blocked; los=1; bltsr=1; from_lifetime=1657909687643; _ym_d=1657909689",
    "Referer": "https://auto.ru/sankt-peterburg/cars/ford/focus/all/?year_from=2020",
    "Referrer-Policy": "no-referrer-when-downgrade"
  },
  "body": "{\"year_from\":2020,\"catalog_filter\":[{\"mark\":\"FORD\"}],\"section\":\"all\",\"category\":\"cars\",\"output_type\":\"list\"}",
  "method": "POST"
});

In [13]:
ford_data = ford.json()

In [17]:
for offer in ford_data['offers']:
    print(f'Ford: {offer["vehicle_info"]["tech_param"]["human_name"]} - Mileage: {offer["state"]["mileage"]}, Price: {offer["price_info"]["EUR"]}')

Ford: Shelby GT350 5.2 MT (526 л.с.) - Mileage: 23000, Price: 49438
Ford: Raptor 3.5 AT (450 л.с.) 4WD - Mileage: 20000, Price: 206434
Ford: Raptor 3.5 AT (450 л.с.) 4WD - Mileage: 8000, Price: 140629
Ford: 1.5 AT (180 л.с.) - Mileage: 48000, Price: 35741
Ford: 1.5 AT (180 л.с.) - Mileage: 57000, Price: 44927
Ford: 5.0 AT (395 л.с.) - Mileage: 19000, Price: 85011
Ford: 5.0 AT (466 л.с.) - Mileage: 12000, Price: 69813
Ford: 2.3 AT (317 л.с.) - Mileage: 55000, Price: 61629
Ford: 3.5hyb AT (430 л.с.) - Mileage: 2000, Price: 175369
Ford: 3.0hyb AT (457 л.с.) 4WD - Mileage: 23000, Price: 96536
Ford: 75 kWh Electro AT (190.0 кВт) 4WD - Mileage: 1000, Price: 180379
Ford: Raptor 3.5 AT (450 л.с.) 4WD - Mileage: 38000, Price: 139292
Ford: 5.0 AT (400 л.с.) - Mileage: 2000, Price: 115576
Ford: 2.3 MT (330 л.с.) - Mileage: 3000, Price: 55449
Ford: Shelby GT350 5.2 MT (526 л.с.) - Mileage: 42000, Price: 59959
Ford: 3.3hyb AT (318 л.с.) - Mileage: 3000, Price: 83342
Ford: 2.3 AT (317 л.с.) - Mileage: 13000, Price: 239837
Ford: 5.0 AT (450 л.с.) - Mileage: 11000, Price: 78832
Ford: 5.0 AT (450 л.с.) - Mileage: 38000, Price: 57286
Ford: 75 kWh Electro AT (190.0 кВт) 4WD - Mileage: 16000, Price: 123927
Ford: Shelby GT500 5.2 AMT (760 л.с.) - Mileage: 8000, Price: 63467
Ford: 2.3 MT (317 л.с.) - Mileage: 40000, Price: 52611
Ford: 2.3 AT (330 л.с.) - Mileage: 18000, Price: 55784
Ford: 5.0 MT (466 л.с.) - Mileage: 9000, Price: 61129
Ford: 2.3 AT (300 л.с.) 4WD - Mileage: 30000, Price: 76828
Ford: Raptor 3.5 AT (450 л.с.) 4WD - Mileage: 15000, Price: 174533
Ford: 2.3 AT (270 л.с.) 4WD - Mileage: 14000, Price: 77496
Ford: 2.3 AT (317 л.с.) - Mileage: 54000, Price: 63467
Ford: 98 kWh Electro AT (210.0 кВт) - Mileage: 2000, Price: 134950
Ford: 2.3 AT (270 л.с.) 4WD - Mileage: 1000, Price: 116077
Ford: Raptor 3.5 AT (450 л.с.) 4WD - Mileage: 1000, Price: 229482
Ford: Shelby GT350 5.2 MT (526 л.с.) - Mileage: 9000, Price: 48769
Ford: 98 kWh Electro AT (248.0 кВт) 4WD - Mileage: 12000, Price: 75826
Ford: 2.3 MT (317 л.с.) - Mileage: 9000, Price: 51108
Ford: 2.3 AT (317 л.с.) - Mileage: 1000, Price: 109563
Ford: 2.7 AT (325 л.с.) - Mileage: 17000, Price: 79501
Ford: 3.0hyb AT (457 л.с.) 4WD - Mileage: 45000, Price: 59625